---
site: Pet Photos
---
<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>

  <header>
      <h1 style="font-size:50px">{{ site }}</h1>
      <p>Provided by Axolotl</p>
  </header>

    {% unless page.url == '/' %}
    	<a href="/">Home</a>
    {% endunless %}

    {{ content }}

    <ul>
        {% for photo in collections.photos %}
            <li>
                <a href="{{ photo.url }}">
                    A {{ photo.data.photo_keyword }} photo
                    by {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <footer>
      <center><p>Copyright © 2021, Axolotl</p>
      <a href="#">Contact</a>
      <span>//</span>
      <a href="#">About us</a>
    </center>
    </footer>

</body>
